<!DOCTYPE html>
<html>
  <head>
    <title>Babilonia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= Gon::Base.render_data %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%=yield%>
  </body>
</html>
